@font-face {
  font-family: "fira-code";
  src: url("../fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 100vh;
  background: #263238;
  /* color: white; */
}

* {
  /* border: 1px solid white; */
}

pre {
  white-space: normal;
}

code {
  font-family: "fira-code";
  white-space: pre-line;
}

ul {
  margin: 0;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.heading {
  margin-top: 30px;
}

.hidden {
  display: none;
}

/* main page */

.home-page {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px 100px 100px min-content 90px;
  grid-template-areas: "left pad right"
    "left banner-top right"
    "left banner-bottom right"
    "left main right"
    "left footer right";
}

.home-page .banner {
  grid-area: banner-top/banner-bottom;
  text-align: center;
  z-index: 1;
}

.home-page .banner .banner__logo {
  height: 200px;
}

.home-page .color-only {
  grid-area: banner-bottom;
  background: white;
}

.home-page .main {
  grid-area: main;
  background: white;
  padding: 0 20px 20px;
}

.footer {
  grid-area: footer;
  text-align: center;
  color: white;
  margin-top: 20px;
}

/* docs */

.docs {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 50px min-content 90px;
  grid-template-areas: "header header"
    "sidebar reference"
    "sidebar footer";
}

.docs .header {
  grid-area: header;
  display: grid;
  grid-template-columns: 90px auto;
  color: white;
  position: fixed;
  width: 100vw;
  background: #263238;
  z-index: 2;
}

.docs .header .logo {
  width: 50px;
}

.docs .header .logo-link {
  text-align: center;
}

.docs .header .package-name {
  line-height: 18px;
}

.docs .sidebar {
  grid-area: sidebar;
  color: white;
  padding: 0 20px;
  position: fixed;
  top: 50px;
}

.docs .sidebar a {
  color: #DEDEDE;
}

.docs .sidebar a:hover {
  color: white;
}

.docs .sidebar ul {
  padding-left: 10px;
  border-left: 1px dashed #dcdcdc;
  font-size: 12px;
}

.docs .sidebar .util-name:not(:first-child) {
  margin-top: 20px;
}

.docs .reference {
  grid-area: reference;
  padding: 0 20px;
}

/* footer */

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

.footer span {
  display: block;
}

/* override materializecss */

.card:first-of-type {
  margin-top: 0px;
}

ul.styled {
  padding: 0 0 10px 20px;
}
