.reference .card .util:not(:first-of-type) {
  padding-top: 25px;
}

.util__section {
  padding-top: 10px;
}
.util__func {
  font-weight: bold;
  font-family: monospace;
  padding-top: 50px;
  margin-top: -50px;
  display: inline-block;
}

.util__source {
  margin-left: 10px;
  font-size: 12px;
}

.util p {
  padding-left: 20px;
}
.util__desc {
  padding-left: 0px !important;
}

.arg {}
.arg__list {
  padding-left: 20px !important;
}
.arg__name {
  color: #00a0f0;
}
.arg__type {
  color: #00a0f0;
  font-weight: bold;
  font-style: italic;
}
.arg__desc {}
.arg__optional {
  font-weight: bold;
}

.return {}
.return__type {
  color: #00a0f0;
  font-weight: bold;
  font-style: italic;
}
.return__desc {}

.example {}
.example__code {
  margin: 0 -24px;
}
.example__code code {
  padding: 10px 24px;
  background: #E3CCA8;
  color: black;
}

.divider--fade {
  border: 0;
  height: 1px;
  background: red;
  background-image: linear-gradient(90deg, red, #fff, #fff);
  margin-bottom: 10px;
}

.card .card-content {
  padding: 24px 24px 0 24px;
}
